<hr>
<div class="row">
	<div class="span5 offset1">
		<div class="row">
			<h3 style="margin-bottom: 50px;">Connect with our preferred lenders and start saving energy today.</h3>
			<div class="span1" style="margin-bottom: 30px;">
				<img src="../home/multiple.png">
			</div>
			<div class="span4">
				<h5 class="muted">Submit multiple projects across your entire building portfolio within one account.</h5>
			</div>
		</div>
		<div class="row">
			<div class="span1" style="margin-bottom: 30px;">
				<img src="../home/monitor-small.png">
			</div>
			<div class="span4">
				<h5 class="muted">Submit, track and monitor your project all within our online platform. </h5>
			</div>
		</div>
	</div>
	<div class="span4">
		<h2 style="margin-left: 40px;">Get started today.</h2>
		<h4 style="margin-left: 40px;">It's free!</h4>

		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'registration-form'}) do |f| %>
		  
		  <%= f.error_notification %>

			<%= f.input :user_firstname, label: false, placeholder: 'First Name' %>
			<%= f.input :user_lastname, label: false, placeholder: 'Last Name' %>  
		  <%= f.input :email , label: false, placeholder: 'Email Address' %>
		  <%= f.input :user_phonenumber, label: false, placeholder: 'Phone Number' %>
		  <%= f.input :user_company, label: false, placeholder: 'Company Name' %>
		  <%= f.input :user_title, label: false, placeholder: 'Job Title' %>
		  <%= f.input :password, label: false, placeholder: 'Password' %>
		  <%= f.input :password_confirmation, label: false, placeholder: 'Password Confirmation' %>

		  <small>By clicking Sign Up, you agree to our Terms and Conditions</small>

		  <div>
		  	<%= f.submit "SIGN UP", class: 'btn btn-primary' %>
		  </div>
		  
		<% end %>
	</div>

</div>

		
		