<div class="page-header">
	<h2>Registration</h2>
</div>

<div class="row">
	<div class="span4">
		<h3>Why register?</h3>
		<p>
			1. Creating an account with us will allow you to submit multiple projects for evaluation, without having to register separately for each individual submission. This is particularly useful for facility managers and / or owners who oversee multiple facilities and may be interested in more than one project.
		</p>
		<p>
			2. As we are an online service, as a registered member you will be able to sign into your account on our site and track the status of your submitted projects as they progress through the evaluation and financing process. All this information will be located in one easy and convenient location.
		</p>
	</div>
	<div class="span8">
		<h3>It's quick and easy</h3>
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal well'}) do |f| %>
		  
		  <%= f.error_notification %>

			<%= f.input :firstname, label: 'First Name' %>  

		  <%= f.input :email %>

		  <%= f.input :password %>

		  <%= f.input :password_confirmation %>

		  <div class="form-actions">
		  	<%= f.submit "Register", class: 'button btn-primary' %>
		  </div>
		  <%= render "devise/shared/links" %>
		<% end %>

	</div>
</div>
		
		