<div class="page-header">
  <h2>Submit a Project</h2>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @project, :url => wizard_path, :html => { :multipart => true, class: 'form-horizontal' } do |f| %>
    <div class="progress progress-success">
      <div class="bar" style="width: 75%;"></div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="page-header">
         <h4>Step 3: PROJECT INFORMATION</h4>
        </div>
      </div>
      <div class="span2">
         <%= f.submit "Next >", class: 'btn btn-primary', style: "float: right;" %>
      </div>
    </div>

    <div class="form well">
      <%= f.input :project_type, label: 'Project Type', collection: [ "Interior Lighting", "Exterior Lighting", "HVAC", "Motors", "Pumps", "Air Handling"] %>
      <%= f.input :project_technology, label: 'Project Technology', as: :string, placeholder: 'Type of equipment installed' %>
      <%= f.input :project_cost, label: 'Project Cost ($)' %>
      <%= f.input :project_equipmentlife, label: 'Equipment Lifetime (yrs)', as: :select, collection: 1..20 %>
      <%= f.input :project_energysavings, label: 'Energy Savings (kWh)', placeholder: 'As estimated in audit' %>
      <%= f.input :project_costsavings, label: 'Annual Cost Savings ($)' %>
      <%= f.input :project_payback, label: 'Payback Period (yrs)', as: :select, collection: 1..20 %>
      <%= f.input :project_IRR, label: 'IRR (%)', as: :select, collection: 1..20 %>
      <% end %>
    </div>
  </div>
</div>
<hr>