<div class="row">
	<div class="span6 offset3">
		<div class="well">
				<%= simple_form_for @project, :url => projects_path, :html => { :multipart => true, class: 'form-horizontal' } do |f| %>
  					
  					<h4>Facility Information</h4>
  					<%= f.input :facilityname, label: 'Facility Name' %>
  					<%= f.input :facilitytype, label: 'Facility Type', as: :radio_buttons, collection: [ "Commercial", "Industrial", "Residential"] %>

  					<h4>Facility Address</h4>
  					<%= f.input :location_number, label: 'Street Number' %>
  					<%= f.input :location_street, label: 'Street Name' %>
  					<%= f.input :location_zip, label: 'ZIP Code' %>
  					<%= f.input :location_state, label: 'State' %>

  					<h4>Energy Use</h4>
  					<p>Please provide an estimate of energy use, based on previous year.</p>
  					<%= f.input :facilityenergyuse, label: 'Annual Energy Use (kWh)' %>

  					<h4>Energy Audit</h4>
  					<p>Please upload a .pdf copy of your facility energy audit. If you have not completed an audit, consult with one of our preferred energy audit partners here.</p>
  					
  					<%= f.file_field :audit, label: 'Upload Energy Audit' %>

  					<%= f.submit "Submit Project", class: 'button btn-primary btn-large' %>

				<% end %>
			
		</div>
	</div>
</div>