<div class="page-header">
  <h2>Your Projects</h2>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Facility Name</th>
        <th>Facility Type</th>
        <th>Type of Project</th>
        <th>Energy Audit</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.facilityname %></td>
          <td><%= project.facilitytype %></td>
          <td></td>
          <td><%= link_to 'View', project.audit.url(:original) %></td>
          <td></td>
            <% if current_user == project.user %>
              <td><%= link_to 'Edit Project', edit_project_path(project) %></td>
              <td><%= link_to 'Remove Project', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
</table>


<br />

<%= link_to 'New Project', new_project_path %>
