<div class="navbar navbar-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/"><img src="../logo/coefficient-final 2.png" style="height: 30px;"></img></a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <%= link_to 'Our Partners',  partners_path %>
                        </li>
                         <li>    
                            <%= link_to 'Our Financing Solutions',  financing_path %>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                         <% if user_signed_in? %>
                            <% if current_user.user_lender? %>
                                <li><%= link_to 'View All Projects',  projects_path %></li>
                                <li><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete %></li>
                            <% else %>
                                <li> <%= link_to 'Submit A Project',  new_project_path %></li>
                                <li><%= link_to 'Track Your Projects',  projects_path %></li>
                                <li><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete %></li>
                            <% end %>
                        <% else %>
                            <li><%= link_to 'Submit A Project',  new_project_path %></li>
                            <li><%= link_to 'SIGN IN',  new_user_session_path %></li>
                            <li class="highlight"><%= link_to 'SIGN UP',  new_user_registration_path %></li>
                        <% end %>
                    </ul>
                </div>
        </div>
    </div>
</div>

